table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 500px;
}

.kitten {
  border: 1px solid rgb(207, 207, 207);
  display: flex;
  flex-direction: column;
}

.flash {
  display: flex;
  justify-content: center;
}

.flash.notice {
  background-color: grey;
}

.flash.alert {
  background-color: red;
}

.header {
  display: flex;
  padding: 20px;
}

.header > *:last-child {
  margin-left: auto;
}